<hr />
<footer class="site-footer h-card">
    <!-- <data class="u-url" href="{{ "/" | relative_url }}"></data> -->
  
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
        <div class="social-links">
            Learn more <a href="{{ "/about" | relative_url }}">about me</a> or follow me on <a href="https://github.com/revanthkolli">GitHub</a> or <a href="https://twitter.com/writtenbyrev">Twitter</a> for more updates.
        </div>
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=WrittenByRevanth', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <div class="form-description"> 
                Subscribe to this blog via <a href="{{ 'feed.xml' | relative_url }}">RSS</a> or sign up for my newsletter delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a> below.
            </div>
            <input type="text" name="email"/>
            <input type="hidden" value="WrittenByRevanth" name="uri"/>
            <input type="hidden" name="loc" value="en_US"/>
            <input type="submit" value="Subscribe" />
        </form>    
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
      </div>
    </div>
  
  </footer>